.statusbox {

  display: flex;
  position: relative;
  text-align: center;
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Baloo Bhaijaan', cursive;
  width: 400px;
  //justify-content: space-between;
  text-align: center;
   margin: 0 auto;
   margin-top: 10px;


}

.temperaturebox {

  display: flex;
  position: relative;
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Baloo Bhaijaan', cursive;
  width: 200px;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;

}

input {
  height: 60px;
  width: 300px;
  font-size: 30px;
  color: black;
  background-color: white;
  margin: 20px, 80px, 20px, 80px;
  font-family: 'Baloo Bhaijaan', cursive;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;


}

#box {
  height:700px ;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: steelblue;
  text-align: center;
  border: solid 1px;
  color: white;

}



#search {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
img {
height: 80px;
width: 80px;
margin: 0 auto;
}

